/**************************************************************************/
/** Container
/**************************************************************************/

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}



/**************************************************************************/
/** Tabs
/**************************************************************************/

.app-nav-bar {
  background-color: #636363;
  height: 36px;
  line-height: 36px;
}

div.app-nav-bar{
  flex-shrink: 0;
  width: 100%;
}

.app-tab-container {
  float: right;
  height: 100%;
  padding: 0 20px;
}

.app-tab-container > div {
  float: left;
  min-width: 125px;
  color: white;
  text-align: center;
  height: 100%;
  cursor: pointer;
}

.app-tab-container > div:hover {
  background-color: #50535f;
}

.app-tab-container > div.active,
.app-tab-container > div.active:hover {
  background-color: #50535f;
}


/**************************************************************************/
/** Body
/**************************************************************************/

.app-body {
  width: 100%;
  height: 100%;
}

.app-body > div {
  height: 100%;
}